body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #111;
    color: #ff5500;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.8rem;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    padding: 30px 60px;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}

.panel-izquierda {
    flex: 1.3;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 25px;
    min-height: 550px; 
}


.panel-derecha {
    flex: 0.8;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 25px;
    min-height: 400px;
}

.busqueda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.busqueda input {
    width: 70%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 1rem;
}

.busqueda button {
    background: #ff5500;
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.busqueda button:hover {
    background-color: #ff3300;
}

.tabla-contenedor {
    max-height: 420px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

table th, table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

button {
    background-color: #ff5500;
    color: white;
    border: none;
    padding: 9px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff3300;
}

.sin-stock {
    color: gray;
    font-style: italic;
}


.venta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.venta h2 {
    margin-top: 0;
    color: #222;
}

.venta table {
    margin-top: 15px;
    margin-bottom: 20px;
}

.venta h3 {
    text-align: right;
    color: #333;
    font-size: 1.2rem;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    margin-top: 30px;
}
